.slider{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
*{
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    
    margin: 0 20px;
    padding: 0 60px;
    width: 100vw;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffd700; /* Change color on hover (e.g., gold) */
}

.content {
    padding: 20px;
    text-align: center;
}
.navbar{
    position: fixed;
    z-index: 19;
    color: white;
    padding: 10px 20px;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        min-height: 100vh;
        height: 400px;
    }
}
body{
    margin: 0;padding: 0;
    box-sizing: border-box;
}